{% extends "website/header.html" %}
{% block content %}
    <div class="jumbotron">
    <h1><a href="/blog/" title="To System Blog"><span class="glyphicon glyphicon-bullhorn"></span></a> System Announcements</h1>
    <hr/>
    {% for i in blog %}
        <article>
            <h2><a href="/blog/#{{ i.pk }}">{{ i.post_date }} | {{ i.title }}</a></h2>
            <h3>{{ i.body|safe|linebreaks|truncatechars:150}}</h3>
        </article>
        <hr/>
    {% endfor %}

    </div>
    <h1><a href="/repo/task/" title="To Task Status"><span class="glyphicon glyphicon-tasks"></span></a> Most Recent jobs</h1>
    <script>
    // This function loads '/results/update' every second which provides the results from the database.
        setInterval(function () {

            $("#task").load("/home/update/");

        }, 1000);
    </script>
    <div id="task" class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Task ID</th>
            <th>Material ID</th>
            <th>Workflow</th>
            <th>Job Status</th>
            <th>User</th>
        </tr>
        {%  for i in task_list %}
            <tr>
                <td>{{i.id|stringformat:"06d"}}</td>
                <td>{{i.material_id}}</td>
                <td>{{i.workflow}}</td>
                <td>{{i.status}}</td>
                <td>{{i.user}}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}