{% extends 'website/header.html' %}
{% block content %}
    {% load staticfiles %}

    <h1>{{ object.material_id }}</h1>
    <div class="embed-responsive embed-responsive-16by9">
        <video width="400" controls>
        <source src="{% static 'website/proxies/' %}{{ object.material_id }}.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
        </video><br/>
    </div>
    <div>
        <h3>Series Title</h3>
        <p>{{ object.series_title }}</p>
        <h3>Season Title</h3>
        <p>{{ object.season_title }}</p>
        <h3>Season Number</h3>
        <p>{{ object.season_number }}</p>
        <h3>Episode Title</h3>
        <p>{{ object.Episode_title }}</p>
        <h3>Episode Number</h3>
        <p>{{ object.episode_number }}</p>
        <h3>Ratings</h3>
        <p>{{ object.ratings }}</p>
        <h3>Synopsis</h3>
        <p>{{ object.synopsis }}</p>
    </div>

{% endblock %}