{% extends 'website/header.html' %}
{% block content %}
    <h1><span class="glyphicon glyphicon-tasks"></span> Task Status</h1>
    <div style="background-color: lightgray; border-radius: 5px; padding: 10px; border: 2px whitesmoke solid;">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
        <div class="row" style="max-width: 100%; max-height: 100%;">
            <div class="col-lg-4">
                <div class="center-block" style="width: 100%; text-align: center">
                    <canvas id="myChart" style=" display: inline;background-color: transparent; max-width: 250px; max-height: 250px; margin-left: 18px;"></canvas>
                </div>
            </div>
            <div class="col-lg-3" style="padding: 10px">
                <div class="center-block">
                    <table class="table table-striped" style="border: 2px solid dimgrey; margin-left: 15px" ;>
                        <tr>
                            <th>State</th>
                            <th># Of Jobs</th>
                        </tr>
                        <tr>
                            <td>Submitted</td>
                            <td>{{ submitted }}</td>
                        </tr>
                        <tr>
                            <td>Conforming</td>
                            <td>{{ conforming }}</td>
                        </tr>
                        <tr>
                            <td>Transcoding</td>
                            <td>{{ transcoding }}</td>
                        </tr>
                        <tr>
                            <td>Complete</td>
                            <td>{{ complete }}</td>
                        </tr>
                        <tr>
                            <td>Error</td>
                            <td>{{ error }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <script>
                // Chart.JS Code for creating a bar chart
                var ctx = document.getElementById("myChart");
                var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: ['Submitted','Conforming','Transcoding','Complete','Error'],
                        datasets: [{
                            label: 'Task Status',
                            data: [{{ submitted }},{{ conforming }},{{ transcoding }},{{ complete }},{{ error }}],
                            backgroundColor: [
                                'rgba(20, 246, 250, 0.5)',
                                'rgba(245, 248, 16, 0.5)',
                                'rgba(91, 132, 245, 0.5)',
                                'rgba(63, 191, 93, 0.5)',
                                'rgba(230, 30, 33, 0.5)',
                            ],
                            borderColor: [
                                'rgba(20, 246, 250, 0.5)',
                                'rgba(245, 248, 16, 0.5)',
                                'rgba(91, 132, 245, 0.5)',
                                'rgba(63, 191, 93, 0.5)',
                                'rgba(230, 30, 33, 0.5)',
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: true,
                        animation:false,
                        maintainAspectRatio: true,
                        /*scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        },*/
                        legend: {
                            display: false,
                        },
                    }
                });
            </script>
        </div>
    </div>
    {% if task_status %}
        <ul class="pagination">
        {% if task_status.has_previous %}
            <li><a href="?page={{ task_status.previous_page_number }}">&laquo;</a></li>
            {% else %}
             <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in task_status.paginator.page_range %}
            {% if users.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if task_status.has_next %}
            <li><a href="?page={{ task_status.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
        </ul>
    {% endif %}
    <div id="task" class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Task ID</th>
            <th>Material ID</th>
            <th>Workflow</th>
            <th>Job Status</th>
            <th>User</th>
        </tr>
        {%  for i in task_status %}
            <tr>
                <td>{{i.id|stringformat:"06d"}}</td>
                <td>{{i.material_id}}</td>
                <td>{{i.workflow}}</td>
                <td>{{i.status}}</td>
                <td>{{i.user}}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
    {% if task_status %}
        <ul class="pagination">
        {% if task_status.has_previous %}
            <li><a href="?page={{ task_status.previous_page_number }}">&laquo;</a></li>
            {% else %}
             <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in task_status.paginator.page_range %}
            {% if users.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if task_status.has_next %}
            <li><a href="?page={{ task_status.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
        </ul>
    {% endif %}
{% endblock %}