{% extends 'website/header.html' %}
{% block content %}
    <h1>Task Status</h1>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}

                    <a href="/repo/task?page={{ page_obj.previous_page_number }}">previous</a>

                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/repo/task?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    <table class="table table-striped">
        <tr>
            <th>Task ID</th>
            <th>Material ID</th>
            <th>Workflow</th>
            <th>Job Status</th>
            <th>User</th>
        </tr>
        {%  for i in object_list %}
            <tr>
                <td>{{i.id|stringformat:"06d"}}</td>
                <td>{{i.material_id}}</td>
                <td>{{i.workflow}}</td>
                <td>{{i.status}}</td>
                <td>{{i.user}}</td>
            </tr>
        {% endfor %}
    </table>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}

                    <a href="/repo/task?page={{ page_obj.previous_page_number }}">previous</a>

                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/repo/task?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% endblock %}