{% extends 'website/header.html' %}
{% block content %}

    <h1>Submit Job</h1>
    <form action="{% url 'job' %}" method="post">{% csrf_token %}
        <div class=".form-group row">
        <script>
            $(document).ready(function() {
                $('.datepicker').datepicker();
            });
        </script>
        <script>
          $( function() {
            var availableTags = [
                {%  for i in asset_matid %}
                    "{{ i }}",
                {%  endfor %}
            ];
            $( "#id_material_id" ).autocomplete({
              source: function(request, response) {
                  var results = $.ui.autocomplete.filter(availableTags, request.term);
                  response(results.slice(0, 10));
              }
            });
          } );
        </script>
        <p>{{ message }}</p>
        <b>Select Asset to transcode</b>
        {{form.as_p}}
        <p>
            <input type="submit" name="submit" class="btn btn-default"/>
        </p>
        </div>
    </form>
{% endblock %}