{% extends 'website/header.html' %}
{% block content %}
    <p><b>Submit Job</b></p>
    <form action="{% url 'job' %}" method="post">{% csrf_token %}
        <script>
            $(document).ready(function() {
                $('.datepicker').datepicker();
            });
        </script>
        <script>
          $( function() {
            var availableTags = [
                {%  for i in asset_matid %}
                    "{{ i }}",
                {%  endfor %}
            ];
            $( "#id_material_id" ).autocomplete({
              source: availableTags
            });
          } );
        </script>
        <p>{{ message }}</p>
        <b>Select Asset to transcode</b>
        {{form.as_p}}
        <p>
            <input type="submit" name="submit" />
        </p>
    </form>
{% endblock %}