{% extends 'website/header.html' %}
{% block content %}
    <h1><span class="glyphicon glyphicon-stats"></span> Metrics</h1>
    <script>
    // This function loads '/results/update' every second which provides the results from the database.
        setInterval(function () {

            $("#test").load("/metrics/update");

        }, 60000);
    </script>
    <div id="test">
    <p style="font-weight: bold">Submitted = {{ submitted }},
        Conforming = {{ conforming }}
        Transcoding = {{ transcoding }}
        Complete = {{ complete }}
        Error = {{ error }}
    </p>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
        <div class="row">
            <div>
                <canvas id="myChart" style="background-color: whitesmoke; padding: 10px;max-width: 100%; max-height: 100%;"></canvas>
            </div>
            <script>
                // Chart.JS Code for creating a bar chart
                var ctx = document.getElementById("myChart");
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['Submitted','Conforming','Transcoding','Complete','Error'],
                        datasets: [{
                            label: 'Task Status',
                            data: [{{ submitted }},{{ conforming }},{{ transcoding }},{{ complete }},{{ error }}],
                             backgroundColor: [
                                'rgba(20, 246, 250, 0.5)',
                                'rgba(245, 248, 16, 0.5)',
                                'rgba(91, 132, 245, 0.5)',
                                'rgba(63, 191, 93, 0.5)',
                                'rgba(230, 30, 33, 0.5)',
                            ],
                            borderColor: [
                                'rgba(20, 246, 250, 0.5)',
                                'rgba(245, 248, 16, 0.5)',
                                'rgba(91, 132, 245, 0.5)',
                                'rgba(63, 191, 93, 0.5)',
                                'rgba(230, 30, 33, 0.5)',
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: true,
                        animation:false,
                        maintainAspectRatio: true,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        },
                        legend: {
                            display: false,
                        },
                    }
                });
            </script>
    </div>
    </div>
{% endblock %}